<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Register and login">
  
  <test thread-count="5" name="DoctorRegister">
    <classes>	    
      <class name="testcase.DoctorRegister"/>      
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="PatientRegister">
    <classes>	    
      <class name="testcase.PatientRegister"/>      
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="LoginTest">
    <classes>
	  <class name="testcase.LoginTest"/>            
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
