<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Register and login">
  <test thread-count="5" name="Login">
    <classes>
	  <class name="testcase.LoginTest"/>            
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Register">
    <classes>	    
      <class name="testcase.MyFirsTestFW"/>      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
